#introText {
  height:500px;
  background-color:white;
  font-size:36px;
  color:Black;
}

#secondText{
  height:500px;
  background-color:yellow;
  opacity: 1.0;
  font-size:36px;
  color:blue
}

#dexText{
  height: auto;
  width: auto;
  background-color: inherit;
  font-size: 36px

}
body, html {
  height: 100%;
}

.parallax {
  background-color: blue;
  background-image: url("../pics/pokedex1.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50% 100%;
}

.parallax2 {
  background-color: blue;
  background-image: url("../pics/pokeball.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50% 100%;
}

.parallax3 {
  background-color: blue;
  background-image: url("../pics/pokedex1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50% 100%;
}
